#gameArea{
    display: flex;
    justify-content: space-around;
}

#plr1Info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#plr2Info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}